<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @quote.text %>
</p>

<p>
  <b>Author:</b>
  <%= @quote.author %>
</p>

<p>
  <b>Source:</b>
  <%= @quote.source %>
</p>

<p>
  <b>Enabled:</b>
  <%= @quote.enabled %>
</p>


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
