<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Date:</b>
  <%= @movie.date %>
</p>

<p>
  <b>Speaker:</b>
  <%= @movie.speaker %>
</p>

<p>
  <b>Description:</b>
  <%= @movie.description %>
</p>

<p>
  <b>YouTube URL - http://youtu.be/<%= @movie.url %></b>
</p>

<p>
  <b>Duration:</b>
  <%= @movie.duration %>
</p>

<p>
  <b>Filename:</b>
  <%= @movie.filename %>
</p>

<p>
  <b>Featured?</b>
  <%= @movie.featured %>
</p>

<p>
  <b>Carousel?</b>
  <%= @movie.carousel %>
</p>
<div class="on_white">
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
</div>