<h1>Listing streams</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @streams.each do |stream| %>
  <tr>
    <td><%= stream.content %></td>
    <td><%= stream.link %></td>
    <td><%= link_to 'Show', stream %></td>
    <td><%= link_to 'Edit', edit_stream_path(stream) %></td>
    <td><%= button_to 'Delete', { :action => "destroy", :id => stream.id }, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stream', new_stream_path %>
