<h1>Listing resources</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= resource.title %></td>
    <td><%= resource.subtitle %></td>
    <td><%= resource.description %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= button_to 'Delete', { :action => "destroy", :id => resource.id }, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resource', new_resource_path %>
