<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @resource.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @resource.subtitle %>
</p>

<p>
  <b>Description:</b>
  <%= @resource.description %>
</p>

<% if @resource.image? %>
	<p>
	  Thumbnail Image:<br>
	<%= image_tag @resource.image_url(:thumb).to_s %>
	</p>
<% end %>
<p>
	<div id="attachments">
		<% if @resource.document? %>
			<p>Get the resource:<%= link_to 'Download File', :action => 'download_file', :id => @resource.id %></p>
		<% end %>
		<% if @resource.video? %>
			<p>Get the video:<%= link_to 'Download Video', :action => 'download_video', :id => @resource.id %></p>
		<% end %>
		<% if @resource.audio? %>
			<p>Get the audio:<%= link_to 'Download Audio', :action => 'download_audio', :id => @resource.id %></p>
		<% end %>
	</div>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
