<%= form_for @radio_program, :html => { :multipart => true } do |f| %>
  <% if @radio_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@radio_program.errors.count, "error") %> prohibited this radio_program from being saved:</h2>

      <ul>
      <% @radio_program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :episode %><br />
    <%= f.text_field :episode %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :speaker %><br />
    <%= f.text_field :speaker %>
  </div>
  <div class="field">
    <%= f.label :date_aired %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :featured %><br />
    <%= f.check_box :featured %>
  </div>
  
   <div class="paperclip_new">
   	<p>Be sure to add both an .mp4 audio file only! </p></br>
	<% f.fields_for :audios do |audio| %>
	  <% if audio.object.new_record? %>
	    
		    <%= f.label :Add_audio_file %>
		    <%= audio.file_field :attachment %></br>
		    
	  <% end %>
	<% end %>
  </div></br>

  <div class="paperclip_existing">
	<% f.fields_for :audios do |audio| %>
	
	  <% unless audio.object.new_record? %>
	
		<div class="existing_image">
			<img src="/images/icons/audio.gif" /><a href="<%= audio.object.attachment.url %>" target="_blank"><%= audio.object.attachment_file_name %></a>
			<%= audio.check_box :_destroy %><%= f.label :Delete %>
	    </div>
      <% end %>
	<% end %>
  </br>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

