<%= form_for @gallery, :html => { :multipart => true } do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
      <% @gallery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gallery_name %><br />
    <%= f.text_field :gallery_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div id="paperclip_new" class="paperclip">
	<%= f.fields_for :assets do |asset| %>
	  <% if asset.object.new_record? %>
	    <%= asset.file_field :image %>
	  <% end %>	
	<% end %>
  </div>

  <div id="paperclip_existing" class="paperclip">
	<%= f.fields_for :assets do |asset| %>
	  <% unless asset.object.new_record? %>
		<div class="existing_image">
	    <%= link_to( image_tag(asset.object.image.url(:thumb)), asset.object.image.url(:original)) %>
		<%= asset.check_box :_destroy %><%= f.label :Delete %>
        <%= asset.check_box :featured %><%= f.label :Display_on_coverpage? %>
	    </div>
      <% end %>
	<% end %>
  </div>
  </br>
  <div class="actions paperclip">
    <%= f.submit %>
  </div>
<% end %>
