
	<div id="gallery">
		<div id="gallery_header">
			<div class="headers"><h1>MDN Photo Gallery</h1></div>
		</div>
		

		<% @galleries.each do |gallery| %>

		<div class="gallery_wrap">
			<div id="gallery_left">
				<div id="gallery_head"><h2><%= gallery.gallery_name %></h2></div>
				<div id="gallery_desc"><%= gallery.description %></div>
			</div>
			<div id="gallery_rt">
				<div id="gallery_featured">
					<% for asset in gallery.assets.featured %>
					  <%= link_to( image_tag(asset.image.url(:thumb)), asset.image.url(:large), :class => "fancybox", :rel => gallery.id ) %>
					<% end %>
				</div>
				<div id="gallery_photos">	
				<% for asset in gallery.assets %>	
				  <%= link_to( image_tag(asset.image.url(:thumb)), asset.image.url(:large), :class => "fancybox", :rel => gallery.id ) %>
				<% end %>	
				</div>
				
				  <td><%= link_to 'Show', gallery %> |</td>
				  <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
				  <td><%= button_to 'Delete Gallery', { :action => "destroy", :id => gallery.id }, :confirm => 'Are you sure?', :method => :delete %> </td>
			  
			</div>
		</div>
		</br>
		<% end %>
		<div id="gallery_footer">
	      <td><%= button_to 'Create New Gallery', { :action => "new" } %> </td>
		</div>
	</div>








