<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @stat.title %>
</p>

<p>
  <b>Stat:</b>
  <%= @stat.stat %>
</p>

<p>
  <b>Content:</b>
  <%= @stat.content %>
</p>

<p>
  <b>Topic:</b>
  <%= @stat.topic %>
</p>

<p>
  <b>Source:</b>
  <%= @stat.source %>
</p>

<p>
  <b>Visible:</b>
  <%= @stat.visible %>
</p>


<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
